.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://www.ubackground.com/_ph/17/265419544.jpg") no-repeat center center fixed;
  background-size: cover;

  .login {
    width: 300px;
    height: 300px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    border-radius: 20px;

    .header {
      width: 100%;
      display: flex;
      justify-content: center;

      .title {
        font-size: 24px;
        font-weight: 600;
        color: black;
      }
    }

    .body {
      input {
        display: block;
        width: 100%;
        padding: .5rem .7rem;
        background: #f3f3f3;
        border: 1px solid black;
        border-radius: 20px;
      }

      input + input {
        margin-top: 1rem;
      }
    }
  }
}
