<div class="wrapper">
  <form class="login" [formGroup]="loginForm">
    <div class="header">
      <span class="title">ВХОД</span>
    </div>
    <div class="body">
      <input
        type="text"
        placeholder="Username"
        formControlName="username"
      />
      <input
        type="password"
        placeholder="Пароль"
        formControlName="password"
      />
    </div>
    <div class="footer">
      <button
        type="submit"
        class="btn btn-info mr-4"
        (click)="login()"
        [disabled]="loginForm.invalid"
      >
        Войти
      </button>
      <button
        type="reset"
        class="btn btn-danger"
        (click)="loginForm.reset()"
      >
        Очистить
      </button>
    </div>
  </form>
</div>
