.modal-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-dialog {
    width: 700px;
    height: 700px;
  }

  .modal-content {
    width: 700px;
    height: 700px;
  }
}

.switch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
