<div class="loader" *ngIf="loading; else hasTable">
  <div class="ball-grid-pulse">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<ng-template #hasTable>
  <div class="table-responsive">
    <ng-table
      [config]="config"
      (tableChanged)="onChangeTable(config)"
      (cellClicked)="onCellClick($event)"
      [rows]="rows"
      [columns]="columns"
    ></ng-table>
  </div>
  <div class="create">
    <button
      type="button"
      class="btn btn-info"
      (click)="onCellClick(null)"
    >
      Создать шлюз
    </button>
  </div>
  <div class="pagination">
    <pagination
      *ngIf="config.paging"
      class="pagination-sm"
      [(ngModel)]="page"
      [totalItems]="length"
      [itemsPerPage]="itemsPerPage"
      [maxSize]="maxSize"
      [boundaryLinks]="true"
      [rotate]="false"
      (pageChanged)="onChangeTable(config, $event)"
      (numPages)="numPages = $event"
    >
    </pagination>
  </div>
</ng-template>

<div
  class="modal fade"
  bsModal
  #modal="bs-modal"
  tabindex="-1"
  aria-labelledby="mySmallModalLabel"
>
  <app-create-or-edit-table
    [gateway]="gateway"
    (hideModal)="modalAfterClose($event)"
  ></app-create-or-edit-table>
</div>
