.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-responsive {
  height: 600px;
  margin-bottom: 1rem;
  overflow: auto;

  ::ng-deep {
    th {
      background: #5d9cec;
      color: #fff;
    }

    th, td {
      cursor: pointer;
    }
  }
}

.create {
  width: 100%;
  margin-bottom: 2rem;
  padding-left: 2rem;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;

  ::ng-deep {
    .pagination-first, .pagination-prev, .pagination-next, .pagination-last {
      display: none;
    }

    .page-link {
      padding: .25rem .9rem;
    }
  }
}
