<div class="card card-default">
  <div class="table-responsive">
    <ng-table
      [config]="config"
      (tableChanged)="onChangeTable(config)"
      (cellClicked)="onCellClick($event)"
      [rows]="rows"
      [columns]="columns"
    ></ng-table>
  </div>
</div>
<div class="text-right">
  <pagination
    *ngIf="config.paging"
    class="pagination-sm"
    [(ngModel)]="page"
    [totalItems]="length"
    [itemsPerPage]="itemsPerPage"
    [maxSize]="maxSize"
    [boundaryLinks]="true"
    [rotate]="false"
    (pageChanged)="onChangeTable(config, $event)"
    (numPages)="numPages = $event"
  >
  </pagination>
</div>
